.loading_area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #121212;
}

.loading_area_text {
  position: relative;
  overflow: hidden;
}

@media (max-width: 480px) {
  .loading_area_text {
    top: -2vw;
    font-size: 10vw;
  }
}

@media (min-width: 481px) {
  .loading_area_text {
    top: -20px;
    padding: 0 20px;
    font-size: 5rem;
  }
}

.loading_area_text p {
  text-shadow: 0px -11px 10px rgba(63, 62, 62, 0.9);
  font-family: "Caveat", cursive;
  -webkit-animation: moveText 3s 0s infinite;
          animation: moveText 3s 0s infinite;
}

.building_square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .building_square {
    width: 16vw;
    height: 16vw;
  }
}

@media (min-width: 481px) {
  .building_square {
    width: 70px;
    height: 70px;
  }
}

.building_square .square {
  position: relative;
  opacity: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: buildingSquare 3s 0s infinite;
          animation: buildingSquare 3s 0s infinite;
}

@media (max-width: 480px) {
  .building_square .square {
    top: calc(-1.5px * 2 / 3);
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media (min-width: 481px) {
  .building_square .square {
    top: calc(-10px * 2 / 3);
    width: 20px;
    height: 20px;
  }
}

.building_square .square:nth-child(1) {
  -webkit-animation-delay: calc(150ms * 6);
          animation-delay: calc(150ms * 6);
}

.building_square .square:nth-child(2) {
  -webkit-animation-delay: calc(150ms * 7);
          animation-delay: calc(150ms * 7);
}

.building_square .square:nth-child(3) {
  -webkit-animation-delay: calc(150ms * 8);
          animation-delay: calc(150ms * 8);
}

.building_square .square:nth-child(4) {
  -webkit-animation-delay: calc(150ms * 3);
          animation-delay: calc(150ms * 3);
}

.building_square .square:nth-child(5) {
  -webkit-animation-delay: calc(150ms * 4);
          animation-delay: calc(150ms * 4);
}

.building_square .square:nth-child(6) {
  -webkit-animation-delay: calc(150ms * 5);
          animation-delay: calc(150ms * 5);
}

.building_square .square:nth-child(7) {
  -webkit-animation-delay: calc(150ms * 0);
          animation-delay: calc(150ms * 0);
}

.building_square .square:nth-child(8) {
  -webkit-animation-delay: calc(150ms * 1);
          animation-delay: calc(150ms * 1);
}

.building_square .square:nth-child(9) {
  -webkit-animation-delay: calc(150ms * 2);
          animation-delay: calc(150ms * 2);
}

.half_circles {
  position: absolute;
  left: 50%;
  top: 50%;
}

@media (max-width: 480px) {
  .half_circles {
    width: 8vw;
    height: 8vw;
    margin: -4vw 0 0 -4vw;
  }
}

@media (min-width: 481px) {
  .half_circles {
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
  }
}

.half_circles .circle {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  border: solid transparent;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .half_circles .circle {
    border-width: 1vw;
  }
}

@media (min-width: 481px) {
  .half_circles .circle {
    border-width: 3px;
  }
}

.half_circles .circle.circle_1 {
  border-top-color: #fff;
  -webkit-animation: rotateArc 1.5s 0s infinite;
          animation: rotateArc 1.5s 0s infinite;
}

.half_circles .circle.circle_2 {
  border-bottom-color: #fff;
  -webkit-animation: rotateArc 1.5s 0s infinite alternate;
          animation: rotateArc 1.5s 0s infinite alternate;
}
/*# sourceMappingURL=async.style.css.map */