@charset "UTF-8";
@media (max-width: 480px) {
  .about_msg {
    margin-bottom: 10vw;
    line-height: 1.8;
  }
}

@media (min-width: 481px) {
  .about_msg {
    margin-bottom: 40px;
    line-height: 2;
  }
}

@media (max-width: 480px) {
  .about_msg p {
    margin-bottom: 5vw;
  }
}

@media (min-width: 481px) {
  .about_msg p {
    margin-bottom: 20px;
  }
}

@media (min-width: 481px) {
  .about_msg.transit-item,
  .about_msg.transit-item ~ .about_list.site,
  .about_msg.transit-item ~ .about_list.outside {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@media (min-width: 481px) {
  .about_msg.effected,
  .about_msg.effected ~ .about_list.site,
  .about_msg.effected ~ .about_list.outside {
    -webkit-animation: fade-m50px 0.5s forwards;
            animation: fade-m50px 0.5s forwards;
  }
  .about_msg.effected {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
  }
  .about_msg.effected ~ .about_list.site {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .about_msg.effected ~ .about_list.outside {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
  }
}

@media (max-width: 480px) {
  .about_list dt {
    margin-bottom: 2vw;
  }
}

@media (min-width: 481px) {
  .about_list dt {
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .about_list.site:not(:last-child) {
    margin-bottom: 15vw;
  }
}

@media (min-width: 481px) {
  .about_list.site:not(:last-child) {
    margin-bottom: 60px;
  }
}

.about_list.site dt {
  text-indent: -10px;
}

.about_list.site dt::before {
  content: "\3010";
}

.about_list.site dt::after {
  content: "\3011";
}

.about_list.outside dt {
  position: relative;
  padding-left: 20px;
}

.about_list.outside dt::after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 12px;
  height: 12px;
  background: #fff;
}

@media (max-width: 480px) {
  .about_list.outside dd:not(:last-child) {
    margin-bottom: 7vw;
  }
}

@media (min-width: 481px) {
  .about_list.outside dd:not(:last-child) {
    margin-bottom: 30px;
  }
}

.about_list a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

@media (any-hover: hover) and (max-width: 896px) {
  .about_list a {
    -webkit-text-decoration: underline transparent;
            text-decoration: underline transparent;
    -webkit-transition: -webkit-text-decoration-color 0.5s 0s;
    transition: -webkit-text-decoration-color 0.5s 0s;
    transition: text-decoration-color 0.5s 0s;
    transition: text-decoration-color 0.5s 0s, -webkit-text-decoration-color 0.5s 0s;
  }
}

@media (any-hover: hover) and (min-width: 897px) {
  .about_list a {
    position: relative;
  }
  .about_list a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    top: 100%;
    bottom: 0;
    border-bottom: 1px solid #fff;
    -webkit-transition: right 0.5s 0s;
    transition: right 0.5s 0s;
  }
}

@media (any-hover: hover) and (max-width: 896px) {
  .about_list a:hover {
    -webkit-text-decoration-color: #fff;
            text-decoration-color: #fff;
  }
}

@media (any-hover: hover) and (min-width: 897px) {
  .about_list a:hover::after {
    right: 0;
  }
}

@media (max-width: 480px) {
  .about_msg.transit-item, .about_list.transit-item {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@media (max-width: 480px) {
  .about_msg.effected, .about_list.effected {
    -webkit-animation: fade-m50px 0.5s 0s forwards;
            animation: fade-m50px 0.5s 0s forwards;
  }
}

@media (min-width: 416px) {
  .site_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 415px) {
  .site_list_item:not(:last-child) {
    margin-bottom: 10vw;
  }
  .site_list_item .effect-area {
    display: none;
  }
}

@media (min-width: 416px) and (max-width: 700px) {
  .site_list_item {
    width: 47%;
    margin-right: 6%;
  }
  .site_list_item:nth-child(2n) {
    margin-right: 0;
  }
  .site_list_item:nth-child(n + 3) {
    margin-top: 6%;
  }
}

@media (min-width: 701px) and (max-width: 1000px) {
  .site_list_item {
    width: 31%;
    margin-right: 3.5%;
  }
  .site_list_item:nth-child(3n) {
    margin-right: 0;
  }
  .site_list_item:nth-child(n + 4) {
    margin-top: 3.5%;
  }
}

@media (min-width: 1001px) {
  .site_list_item:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .site_list_item {
    width: 22%;
    margin-right: 4%;
  }
}

@media (min-width: 1301px) {
  .site_list_item {
    width: 276px;
    margin-right: 32px;
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .site_list_item:nth-child(n + 5) {
    margin-top: 4%;
  }
}

@media (min-width: 1301px) {
  .site_list_item:nth-child(n + 5) {
    margin-top: 40px;
  }
}

@media (min-width: 416px) {
  .site_list_item.transit-item {
    position: relative;
    z-index: 1;
  }
  .site_list_item.transit-item .site_list_inner {
    opacity: 0;
    -webkit-transition: opacity 1s 0.5s;
    transition: opacity 1s 0.5s;
  }
  .site_list_item.transit-item .effect-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s;
    transition: opacity 0.3s 0s;
  }
  .site_list_item.transit-item .effect-area::before, .site_list_item.transit-item .effect-area::after {
    content: "";
    position: absolute;
    border: solid #fff;
  }
  .site_list_item.transit-item .effect-area::before {
    left: 0;
    right: 100%;
    top: 0;
    bottom: 100%;
    border-width: 1px 1px 0 0;
    -webkit-transition: right 0.1s 0s, bottom 0.1s 0.1s;
    transition: right 0.1s 0s, bottom 0.1s 0.1s;
  }
  .site_list_item.transit-item .effect-area::after {
    left: 100%;
    right: 0;
    top: 100%;
    bottom: 0;
    border-width: 0 0 1px 1px;
    -webkit-transition: left 0.1s 0.2s, top 0.1s 0.3s;
    transition: left 0.1s 0.2s, top 0.1s 0.3s;
  }
}

@media (min-width: 416px) {
  .site_list_item.effected .site_list_inner {
    opacity: 1;
  }
  .site_list_item.effected .effect-area {
    opacity: 1;
  }
  .site_list_item.effected .effect-area::before {
    right: 0;
    bottom: 0;
  }
  .site_list_item.effected .effect-area::after {
    left: 0;
    top: 0;
  }
}

@media (max-width: 415px) {
  .site_list_item.transit-item .site_list_image {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: opacity 0.3s 0.5s, -webkit-transform 0.3s 0.5s cubic-bezier(0.29, 1.33, 0.75, 1.45);
    transition: opacity 0.3s 0.5s, -webkit-transform 0.3s 0.5s cubic-bezier(0.29, 1.33, 0.75, 1.45);
    transition: transform 0.3s 0.5s cubic-bezier(0.29, 1.33, 0.75, 1.45), opacity 0.3s 0.5s;
    transition: transform 0.3s 0.5s cubic-bezier(0.29, 1.33, 0.75, 1.45), opacity 0.3s 0.5s, -webkit-transform 0.3s 0.5s cubic-bezier(0.29, 1.33, 0.75, 1.45);
  }
  .site_list_item.transit-item .site_list_image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    -webkit-transition: opacity 0.5s 0.5s, top 0s 1s;
    transition: opacity 0.5s 0.5s, top 0s 1s;
  }
  .site_list_item.transit-item .site_list_btns {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@media (max-width: 415px) {
  .site_list_item.effected .site_list_image {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .site_list_item.effected .site_list_image::after {
    top: 100%;
    opacity: 0;
  }
  .site_list_item.effected .site_list_btns {
    -webkit-animation: fade-m50px 0.5s 0.75s forwards;
            animation: fade-m50px 0.5s 0.75s forwards;
  }
}

.site_list_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 416px) {
  .site_list_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #14312e;
    -webkit-box-shadow: 0px 0px 6px 0px #000;
            box-shadow: 0px 0px 6px 0px #000;
  }
}

@media (min-width: 416px) and (max-width: 1300px) {
  .site_list_inner {
    padding: 5px 5px 10px;
  }
}

@media (min-width: 1301px) {
  .site_list_inner {
    padding: 8px 8px 13px;
  }
}

@media (max-width: 415px) {
  .site_list_image {
    width: 30vw;
    height: 30vw;
    margin-right: 8vw;
  }
}

@media (min-width: 416px) {
  .site_list_image {
    margin-bottom: 10px;
  }
}

.site_list_image a {
  display: block;
}

@media (any-hover: hover) {
  .site_list_image a {
    position: relative;
  }
  .site_list_image a::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
}

@media (any-hover: hover) and (max-width: 415px) {
  .site_list_image a::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.5s 0s;
    transition: opacity 0.5s 0s;
  }
}

@media (any-hover: hover) and (min-width: 416px) {
  .site_list_image a::after {
    content: attr(href);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLW9wYWNpdHk9IjAuNyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTE4IDE0djVhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWOGMwLTEuMS45LTIgMi0yaDVNMTUgM2g2djZNMTAgMTRMMjAuMiAzLjgiLz48L2c+PC9zdmc+") no-repeat right 12px bottom 12px rgba(0, 0, 0, 0.8);
    background-size: 27px 27px;
    text-align: center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s 0s;
    transition: all 0.3s 0s;
  }
}

@media (any-hover: hover) {
  .site_list_image a:hover::after {
    opacity: 1;
  }
}

@media (any-hover: hover) and (min-width: 416px) {
  .site_list_image a:hover::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.site_list_image img {
  display: block;
  width: 100%;
}

@media (max-width: 415px) {
  .site_list_image img {
    -webkit-box-shadow: 10px 10px 20px -5px #000;
            box-shadow: 10px 10px 20px -5px #000;
  }
}

.site_list_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 415px) {
  .site_list_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 416px) {
  .site_list_btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 415px) {
  .site_list_btns li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 416px) {
  .site_list_btns li {
    width: 48%;
  }
}

.site_list_btns a {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  line-height: 1;
}

@media (max-width: 415px) {
  .site_list_btns a {
    min-height: 100%;
    padding: 0 10vw 0 4vw;
  }
}

@media (min-width: 416px) {
  .site_list_btns a {
    min-height: 40px;
    font-size: 1.3rem;
  }
}

@media (min-width: 416px) and (max-width: 896px) {
  .site_list_btns a {
    padding: 0 12px 0 6px;
  }
  .site_list_btns a .link_arrow {
    margin-right: -9px;
  }
}

@media (min-width: 897px) {
  .site_list_btns a {
    padding: 0 35px 0 10px;
  }
}

.site_list_btns a:before {
  content: attr(class);
}

@media (any-hover: hover) {
  .site_list_btns a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    z-index: -1;
    -webkit-transition: top 0.3s 0s;
    transition: top 0.3s 0s;
  }
}

@media (any-hover: hover) and (max-width: 415px) {
  .site_list_btns a::after {
    background: rgba(6, 170, 55, 0.75);
  }
}

@media (any-hover: hover) and (min-width: 416px) {
  .site_list_btns a::after {
    background: rgba(0, 0, 0, 0.75);
  }
}

@media (any-hover: hover) {
  .site_list_btns a:hover::after {
    top: 0;
  }
}

@media (min-width: 1001px) {
  .cms_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cms_list_item {
  position: relative;
}

@media (max-width: 375px) {
  .cms_list_item {
    padding: 0 3vw 5vw;
  }
}

@media (min-width: 376px) and (max-width: 600px) {
  .cms_list_item {
    padding: 0 3vw 30px;
  }
}

@media (min-width: 601px) {
  .cms_list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 60px;
    padding: 15px;
  }
}

@media (min-width: 1001px) {
  .cms_list_item {
    width: 47%;
    margin-right: 6%;
  }
  .cms_list_item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 375px) {
  .cms_list_item:not(:last-child) {
    margin-bottom: 12vw;
  }
}

@media (min-width: 376px) and (max-width: 600px) {
  .cms_list_item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.cms_list_item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  border-bottom: 1px dashed #fff;
}

.cms_list_item.transit-item {
  opacity: 0;
  -webkit-transition: all 0.5s 0s;
  transition: all 0.5s 0s;
}

.cms_list_item.transit-item::after {
  right: 100%;
  -webkit-transition: right 0.5s 0.3s;
  transition: right 0.5s 0.3s;
}

@media (min-width: 601px) {
  .cms_list_item.transit-item {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
}

@media (max-width: 600px) {
  .cms_list_item.transit-item {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
}

.cms_list_item.effected {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.cms_list_item.effected::after {
  right: 0;
}

@media (max-width: 375px) {
  .cms_list_title {
    margin-bottom: 7vw;
  }
}

@media (max-width: 600px) {
  .cms_list_title {
    position: relative;
    padding-left: 20px;
  }
  .cms_list_title::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
  }
}

@media (min-width: 376px) and (max-width: 600px) {
  .cms_list_title {
    margin-bottom: 25px;
  }
}

@media (min-width: 601px) {
  .cms_list_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-height: 25px;
    padding-right: 20px;
    margin-bottom: 0;
  }
}

.cms_list_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .cms_list_btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 601px) {
  .cms_list_btns {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .cms_list_btns li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 600px) {
  .cms_list_btns li:not(:last-child) {
    margin-right: 8vw;
  }
}

@media (min-width: 601px) {
  .cms_list_btns li:not(:last-child) {
    margin-right: 15px;
  }
}

.cms_list_btns a {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

@media (max-width: 375px) {
  .cms_list_btns a {
    min-height: 13vw;
  }
}

@media (max-width: 600px) {
  .cms_list_btns a {
    padding: 0 10vw 0 4vw;
    border: 1px solid #9f9f9f;
  }
}

@media (min-width: 376px) and (max-width: 600px) {
  .cms_list_btns a {
    min-height: 50px;
  }
}

@media (min-width: 601px) {
  .cms_list_btns a {
    padding: 0 35px 0 10px;
    background: #311414;
    -webkit-box-shadow: 0px 0px 6px 0px #000;
            box-shadow: 0px 0px 6px 0px #000;
    font-size: 1.3rem;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .cms_list_btns a {
    min-height: 36px;
  }
}

@media (min-width: 1001px) {
  .cms_list_btns a {
    min-height: 25px;
  }
}

.cms_list_btns a:before {
  content: attr(class);
}

@media (any-hover: hover) {
  .cms_list_btns a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;
    z-index: -1;
    background: rgba(255, 0, 0, 0.5);
    -webkit-transition: top 0.3s 0s;
    transition: top 0.3s 0s;
  }
}

@media (any-hover: hover) {
  .cms_list_btns a:hover::after {
    top: 0;
  }
}

/* 修正1 */
@media (min-width: 801px) {
  .other_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 801px) {
  .other_list_item {
    position: relative;
    width: 47%;
    margin-right: 6%;
  }
  .other_list_item:nth-child(2n), .other_list_item:last-child {
    margin-right: 0;
  }
  .other_list_item:nth-child(n + 3) {
    margin-top: 10%;
  }
}

@media (min-width: 801px) and (any-hover: hover) {
  .other_list_item:hover .other_list_btns {
    opacity: 1;
  }
  .other_list_item:hover .other_list_btns li {
    -webkit-animation: fade-m50px 0.5s forwards;
            animation: fade-m50px 0.5s forwards;
  }
  .other_list_item:hover .other_list_btns li:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .other_list_item:hover .other_list_btns li:nth-child(2) {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
  }
}

@media (max-width: 375px) {
  .other_list_item:not(:last-child) {
    margin-bottom: 15vw;
  }
}

@media (min-width: 376px) and (max-width: 800px) {
  .other_list_item:not(:last-child) {
    margin-bottom: 80px;
  }
}

.other_list_item.transit-item .other_list_image a {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
  -webkit-transition: all 0.5s 0s cubic-bezier(0.29, 0.4, 0.3, 0.99);
  transition: all 0.5s 0s cubic-bezier(0.29, 0.4, 0.3, 0.99);
}

.other_list_item.transit-item .other_list_image img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 1s 1s;
  transition: all 1s 1s;
}

.other_list_item.effected .other_list_image a {
  width: 100%;
  height: 100%;
}

.other_list_item.effected .other_list_image img {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media (min-width: 801px) and (any-hover: hover) {
  .other_list_item.transit-item .other_list_btns {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0s 1.5s;
    transition: -webkit-transform 0s 1.5s;
    transition: transform 0s 1.5s;
    transition: transform 0s 1.5s, -webkit-transform 0s 1.5s;
  }
}

@media (min-width: 801px) and (any-hover: none) {
  .other_list_item.transit-item .other_list_btns li {
    opacity: 0;
    -webkit-transform: translateY(-5vw);
            transform: translateY(-5vw);
  }
}

@media (min-width: 801px) and (any-hover: hover) {
  .other_list_item.effected .other_list_btns {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 801px) and (any-hover: none) {
  .other_list_item.effected .other_list_btns li {
    -webkit-animation: fade-m5vw 1s 1s forwards cubic-bezier(0.29, 0.4, 0.3, 0.99);
            animation: fade-m5vw 1s 1s forwards cubic-bezier(0.29, 0.4, 0.3, 0.99);
  }
}

@media (max-width: 800px) {
  .other_list_item.transit-item .other_list_btns li {
    opacity: 0;
    -webkit-transform: translateY(-5vw);
            transform: translateY(-5vw);
  }
}

@media (max-width: 800px) {
  .other_list_item.effected .other_list_btns li {
    -webkit-animation: fade-m5vw 0.5s 1s forwards;
            animation: fade-m5vw 0.5s 1s forwards;
  }
}

.other_list_image {
  position: relative;
}

@media (max-width: 480px) {
  .other_list_image {
    margin-bottom: 5vw;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .other_list_image {
    margin-bottom: 35px;
  }
}

@media (max-width: 800px) {
  .other_list_image {
    height: calc(85vw / 16 * 9);
  }
}

@media (min-width: 801px) and (any-hover: none) {
  .other_list_image {
    margin-bottom: 20px;
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  .other_list_image {
    height: 225px;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  .other_list_image {
    height: 275px;
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .other_list_image {
    height: 300px;
  }
}

@media (min-width: 1301px) {
  .other_list_image {
    height: 350px;
  }
}

.other_list_image a {
  display: block;
  height: 100%;
}

@media (max-width: 800px) {
  .other_list_image a {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

@media (min-width: 801px) {
  .other_list_image a {
    pointer-events: none;
  }
}

@media (any-hover: hover) and (max-width: 800px) {
  .other_list_image a:hover::before {
    opacity: 1;
    padding-bottom: 0vw;
  }
}

@media (max-width: 800px) {
  .other_list_image a::before, .other_list_image a::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: 480px) {
  .other_list_image a::before {
    font-size: 7.5vw;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .other_list_image a::before {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .other_list_image a::before {
    content: "\70\72\65\76\69\65\77";
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    padding-bottom: 20vw;
    background: rgba(0, 0, 0, 0.5);
    font-style: oblique;
    -webkit-transition: padding-bottom 0.5s 0s, opacity 0.5s 0s;
    transition: padding-bottom 0.5s 0s, opacity 0.5s 0s;
  }
}

@media (max-width: 480px) {
  .other_list_image a::after {
    background-position: right 3vw bottom 3vw;
    background-size: 7vw 7vw;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .other_list_image a::after {
    background-position: right 15px bottom 15px;
    background-size: 30px 30px;
  }
}

@media (max-width: 800px) {
  .other_list_image a::after {
    content: "";
    background-repeat: no-repeat;
  }
}

@media (max-width: 800px) {
  .other_list_image a.video::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cmVjdCB4PSIyIiB5PSIyIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHJ4PSIyLjE4IiByeT0iMi4xOCI+PC9yZWN0PjxsaW5lIHgxPSI3IiB5MT0iMiIgeDI9IjciIHkyPSIyMiI+PC9saW5lPjxsaW5lIHgxPSIxNyIgeTE9IjIiIHgyPSIxNyIgeTI9IjIyIj48L2xpbmU+PGxpbmUgeDE9IjIiIHkxPSIxMiIgeDI9IjIyIiB5Mj0iMTIiPjwvbGluZT48bGluZSB4MT0iMiIgeTE9IjciIHgyPSI3IiB5Mj0iNyI+PC9saW5lPjxsaW5lIHgxPSIyIiB5MT0iMTciIHgyPSI3IiB5Mj0iMTciPjwvbGluZT48bGluZSB4MT0iMTciIHkxPSIxNyIgeDI9IjIyIiB5Mj0iMTciPjwvbGluZT48bGluZSB4MT0iMTciIHkxPSI3IiB4Mj0iMjIiIHkyPSI3Ij48L2xpbmU+PC9zdmc+");
  }
}

@media (max-width: 800px) {
  .other_list_image a.image::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cmVjdCB4PSIzIiB5PSIzIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHJ4PSIyIi8+PGNpcmNsZSBjeD0iOC41IiBjeT0iOC41IiByPSIxLjUiLz48cGF0aCBkPSJNMjAuNCAxNC41TDE2IDEwIDQgMjAiLz48L3N2Zz4=");
  }
}

.other_list_image img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 10px 10px 20px -5px #000;
          box-shadow: 10px 10px 20px -5px #000;
  -o-object-fit: cover;
     object-fit: cover;
  font-family: "object-fit: cover;";
}

@media (max-width: 800px) {
  .other_list_image img {
    height: calc(85vw / 16 * 9);
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  .other_list_image img {
    height: 225px;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  .other_list_image img {
    height: 275px;
  }
}

@media (min-width: 1001px) and (max-width: 1300px) {
  .other_list_image img {
    height: 300px;
  }
}

@media (min-width: 1301px) {
  .other_list_image img {
    height: 350px;
  }
}

@media (min-width: 801px) and (any-hover: none) {
  .other_list_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 801px) and (any-hover: hover) {
  .other_list_btns {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.3s 0s, -webkit-transform 0s 1.5s !important;
    transition: opacity 0.3s 0s, -webkit-transform 0s 1.5s !important;
    transition: opacity 0.3s 0s, transform 0s 1.5s !important;
    transition: opacity 0.3s 0s, transform 0s 1.5s, -webkit-transform 0s 1.5s !important;
  }
}

@media (max-width: 800px) {
  .other_list_btns li:nth-child(2) {
    display: none;
  }
}

@media (min-width: 801px) and (any-hover: none) {
  .other_list_btns li {
    width: 47%;
  }
}

@media (min-width: 801px) and (any-hover: hover) {
  .other_list_btns li {
    opacity: 0;
    width: 200px;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@media (max-width: 480px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 2.5vw;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (any-hover: hover) and (min-width: 801px) and (max-width: 1000px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (any-hover: hover) and (min-width: 1001px) {
  .other_list_btns li:not(:last-child) {
    margin-bottom: 25px;
  }
}

.other_list_btns a {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  border: 1px solid #9f9f9f;
  text-decoration: none;
}

@media (max-width: 375px) {
  .other_list_btns a {
    min-height: 14vw;
  }
}

@media (min-width: 376px) {
  .other_list_btns a {
    min-height: 50px;
  }
}

@media (min-width: 801px) and (any-hover: none) {
  .other_list_btns a {
    padding-right: 3px;
  }
}

.other_list_btns a::before {
  content: attr(class);
}

@media (any-hover: hover) {
  .other_list_btns a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    background: rgba(0, 90, 255, 0.5);
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: opacity 0.5s 0.2s, -webkit-transform 0.5s 0s;
    transition: opacity 0.5s 0.2s, -webkit-transform 0.5s 0s;
    transition: opacity 0.5s 0.2s, transform 0.5s 0s;
    transition: opacity 0.5s 0.2s, transform 0.5s 0s, -webkit-transform 0.5s 0s;
  }
}

@media (any-hover: hover) {
  .other_list_btns a:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=item.style.css.map */