#textTitleContainer {
  vertical-align: bottom;
  font-weight: bold;
  font-family: "Caveat", cursive;
  text-anchor: middle;
  dominant-baseline: central;
  stroke: rgba(255, 255, 255, 0.6);
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  paint-order: stroke;
  stroke-dashoffset: 2000;
  fill: transparent;
}

@media (max-width: 310px) {
  #textTitleContainer {
    font-size: 12vw;
  }
}

@media (min-width: 311px) and (max-width: 415px) {
  #textTitleContainer {
    font-size: 11.5vw;
  }
}

@media (min-width: 416px) and (max-width: 500px) {
  #textTitleContainer {
    font-size: 8vw;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  #textTitleContainer {
    font-size: 7vw;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  #textTitleContainer {
    font-size: 6vw;
  }
}

@media (min-width: 701px) and (max-width: 896px) {
  #textTitleContainer {
    font-size: 5vw;
  }
}

@media (max-width: 896px) {
  #textTitleContainer {
    stroke-width: 1;
  }
}

@media (min-width: 897px) {
  #textTitleContainer {
    font-size: 90px;
    stroke-width: 2;
  }
}

#textTitleContainer.active {
  -webkit-animation: traceSvg 3s 1s ease-in forwards, colorStroke 30s 5s infinite alternate;
          animation: traceSvg 3s 1s ease-in forwards, colorStroke 30s 5s infinite alternate;
}

.figureArrow {
  display: block;
  width: 100%;
  height: auto;
}

@media (any-hover: hover) {
  a .figureArrow {
    -webkit-transition: -webkit-transform 0.5s 0s;
    transition: -webkit-transform 0.5s 0s;
    transition: transform 0.5s 0s;
    transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
  }
  a .figureArrow path {
    -webkit-transition: stroke 0.5s 0s;
    transition: stroke 0.5s 0s;
  }
}

@media (any-hover: hover) {
  a:hover .figureArrow {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  a:hover .figureArrow path {
    stroke: rgba(168, 231, 255, 0.6);
  }
}

.figureMenu,
.figureClose {
  display: block;
  width: 100%;
  height: 100%;
}

.figureMenu {
  position: relative;
  width: 100%;
  height: 100%;
}

.figureMenu span {
  position: absolute;
  left: 5px;
  right: 5px;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.5s 0s;
  transition: all 0.5s 0s;
}

.figureMenu span:nth-child(1) {
  top: 22%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.figureMenu span:nth-child(3) {
  bottom: 22%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.figureMenu span:nth-child(2) {
  top: 50%;
  margin-top: -1.5px;
}

#gnavi.opened .figureMenu span {
  width: 60%;
}

#gnavi.opened .figureMenu span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-10%, 10%);
          transform: rotate(-45deg) translate(-10%, 10%);
}

#gnavi.opened .figureMenu span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-10%, 10%);
          transform: rotate(45deg) translate(-10%, 10%);
}

#gnavi.opened .figureMenu span:nth-child(2) {
  opacity: 0;
}
/*# sourceMappingURL=svg.style.css.map */