@charset "UTF-8";
body[data-state="no-bar"]::-webkit-scrollbar, body[data-state="detail"]::-webkit-scrollbar, body[data-state="gnavi"]::-webkit-scrollbar {
  display: none;
}

body[data-state="loading"], body[data-state="detail"], body[data-state="gnavi"] {
  overflow-y: hidden;
  height: 100vh;
}

body[data-state="loading"] .wrapper {
  display: none;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 450px;
  height: 100vh;
}

@media (max-width: 480px) {
  .header {
    padding: 10vw 7.5vw;
  }
}

@media (max-width: 896px) {
  .header {
    overflow: hidden;
  }
}

@media (min-width: 481px) and (max-width: 896px) {
  .header {
    padding: 50px 7.5vw;
  }
}

@media (min-width: 897px) {
  .header {
    padding: 50px 48px 85px;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Noto Serif JP", serif;
}

@media (max-width: 480px) {
  .footer {
    min-height: 15vw;
    padding: 5vw;
  }
}

@media (min-width: 481px) {
  .footer {
    min-height: 70px;
    line-height: 1;
  }
}

@media (max-width: 480px) {
  .footer span {
    display: block;
  }
}

@media (min-width: 481px) {
  .footer span {
    margin-left: 5px;
  }
}

/* 修正1 */
@media (max-width: 480px) {
  .contents_section {
    padding: 25vw 7.5vw;
  }
}

@media (min-width: 481px) and (max-width: 896px) {
  .contents_section {
    padding: 120px 7.5vw;
  }
}

@media (min-width: 897px) {
  .contents_section {
    padding: 120px 48px;
    margin: 0 auto;
  }
}

@media (min-width: 897px) and (max-width: 1300px) {
  .contents_section {
    max-width: 1200px;
  }
}

@media (min-width: 1301px) {
  .contents_section {
    width: 1296px;
  }
}

@media (max-width: 480px) {
  .contents_section:last-child {
    margin-bottom: 15vw;
  }
}

@media (min-width: 481px) {
  .contents_section:last-child {
    margin-bottom: 60px;
  }
}

.contents_section_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .contents_section_heading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 415px) {
  .contents_section_heading {
    margin-bottom: 5vw;
  }
}

@media (min-width: 416px) and (max-width: 896px) {
  .contents_section_heading {
    margin-bottom: 35px;
  }
}

@media (min-width: 897px) {
  .contents_section_heading {
    margin-bottom: 50px;
  }
}

.contents_section_heading.transit-item .contents_section_title::before, .contents_section_heading.transit-item .contents_section_title::after {
  content: "";
  position: absolute;
  border: 0px solid #dedede;
}

.contents_section_heading.transit-item .contents_section_title span {
  opacity: 0;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

@media (min-width: 481px) {
  .contents_section:nth-child(odd) .contents_section_heading.transit-item {
    padding-left: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contents_section:nth-child(odd) .contents_section_heading.transit-item .contents_section_title {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .contents_section:nth-child(even) .contents_section_heading.transit-item {
    padding-right: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contents_section:nth-child(even) .contents_section_heading.transit-item .contents_section_title {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media (min-width: 481px) {
  .contents_section:nth-child(odd) .contents_section_heading.effected {
    padding-left: 0;
    -webkit-transition: padding-left 0s 4s;
    transition: padding-left 0s 4s;
  }
  .contents_section:nth-child(even) .contents_section_heading.effected {
    padding-right: 0;
    -webkit-transition: padding-right 0s 4s;
    transition: padding-right 0s 4s;
  }
}

@media (min-width: 481px) {
  .contents_section_heading.effected .contents_section_title {
    min-width: 0;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    -webkit-transition: min-width 0s 2.5s, -webkit-transform 0s 4s;
    transition: min-width 0s 2.5s, -webkit-transform 0s 4s;
    transition: transform 0s 4s, min-width 0s 2.5s;
    transition: transform 0s 4s, min-width 0s 2.5s, -webkit-transform 0s 4s;
  }
}

@media (max-width: 480px) {
  .contents_section_heading.effected .contents_section_title::before {
    -webkit-animation: traceLine-right-sp 2.5s 0s forwards;
            animation: traceLine-right-sp 2.5s 0s forwards;
  }
}

@media (min-width: 481px) {
  .contents_section_heading.effected .contents_section_title::before {
    -webkit-animation: traceLine-right-pc 2.5s 0s forwards;
            animation: traceLine-right-pc 2.5s 0s forwards;
  }
}

@media (max-width: 480px) {
  .contents_section_heading.effected .contents_section_title::after {
    -webkit-animation: traceLine-left-sp 2.5s 0s forwards;
            animation: traceLine-left-sp 2.5s 0s forwards;
  }
}

@media (min-width: 481px) {
  .contents_section_heading.effected .contents_section_title::after {
    -webkit-animation: traceLine-left-pc 2.5s 0s forwards;
            animation: traceLine-left-pc 2.5s 0s forwards;
  }
}

@media (max-width: 480px) {
  .contents_section_heading.effected .contents_section_title span {
    -webkit-animation: fade-p150per 0.35s 0.25s forwards;
            animation: fade-p150per 0.35s 0.25s forwards;
  }
}

@media (min-width: 481px) {
  .contents_section_heading.effected .contents_section_title span {
    animation: fade-p150per 0.35s 0.25s forwards, fade-p150per 0.35s 3.5s reverse forwards, fade-p150per 0.35s 4s forwards !important;
  }
}

.contents_section_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-family: "Caveat", cursive;
  line-height: 1;
}

@media (max-width: 480px) {
  .contents_section_title {
    width: 70vw;
    height: 20vw;
    font-size: 11.5vw;
  }
}

@media (min-width: 481px) {
  .contents_section_title {
    min-width: 300px;
    padding: 0 10px;
  }
}

@media (min-width: 481px) and (max-width: 896px) {
  .contents_section_title {
    height: 80px;
    font-size: 4.5rem;
  }
}

@media (min-width: 897px) {
  .contents_section_title {
    height: 100px;
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  .contents_section_title:not(:last-child) {
    margin-bottom: 5vw;
  }
}

@media (min-width: 481px) {
  .contents_section_title:not(:last-child) {
    margin-bottom: 40px;
  }
}

.contents_section_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.contents_section_loading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .contents_section_loading {
    margin-top: 12vw;
  }
}

@media (min-width: 481px) {
  .contents_section_loading {
    min-height: 100px;
    margin-top: 40px;
  }
}

@media (min-width: 897px) {
  .contents_section_loading {
    margin-bottom: 40px;
  }
}

/* 修正1 */
.gnavi {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 0.3s 0s;
  transition: background-color 0.3s 0s;
}

@media (max-width: 480px) {
  .gnavi {
    padding: 7.5vw 5vw 15vw;
  }
}

@media (min-width: 481px) and (max-width: 896px) {
  .gnavi {
    padding: 25px 5vw 100px;
  }
}

@media (max-width: 896px) {
  .gnavi {
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
  }
  .gnavi:not(.opened) {
    left: unset;
    overflow-y: auto;
    min-height: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 896px) and (max-width: 480px) {
  .gnavi:not(.opened) {
    top: 7.5vw;
    right: 5vw;
  }
}

@media (max-width: 896px) and (min-width: 481px) and (max-width: 896px) {
  .gnavi:not(.opened) {
    top: 25px;
    right: 5vw;
  }
}

@media (max-width: 896px) {
  .gnavi:not(.opened) .gnavi_icon {
    margin-bottom: 0;
  }
  .gnavi:not(.opened) .gnavi_btns {
    display: none;
  }
}

@media (min-width: 897px) {
  .gnavi {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 70px;
    padding: 10px 15px 10px 25px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: -webkit-transform 0.5s 1s;
    transition: -webkit-transform 0.5s 1s;
    transition: transform 0.5s 1s;
    transition: transform 0.5s 1s, -webkit-transform 0.5s 1s;
  }
  .gnavi.sink {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@media (max-width: 896px) {
  .gnavi_title {
    display: none;
  }
}

@media (min-width: 897px) {
  .gnavi_title a {
    display: block;
    padding: 5px;
    text-decoration: none;
    line-height: 1;
    font-size: 3.5rem;
    font-family: "Caveat", cursive;
  }
}

@media (max-width: 480px) {
  .gnavi_icon {
    margin-bottom: 12vw;
  }
}

@media (min-width: 481px) and (max-width: 896px) {
  .gnavi_icon {
    margin-bottom: 40px;
  }
}

@media (max-width: 896px) {
  .gnavi_icon {
    text-align: right;
  }
}

@media (min-width: 897px) {
  .gnavi_icon {
    display: none;
  }
}

@media (max-width: 480px) {
  .gnavi_icon a {
    width: 15vw;
    height: 15vw;
    padding: 1.5vw;
  }
}

@media (min-width: 481px) and (max-width: 896px) {
  .gnavi_icon a {
    width: 66px;
    height: 66px;
    padding: 8px;
  }
}

@media (max-width: 896px) {
  .gnavi_icon a {
    display: inline-block;
    vertical-align: top;
  }
}

.gnavi_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 896px) {
  .gnavi_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header .gnavi_btns {
    display: none;
  }
}

@media (max-width: 896px) {
  .gnavi_btns li {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation: fade-m50px 0.3s forwards;
            animation: fade-m50px 0.3s forwards;
  }
  .gnavi_btns li:nth-child(1) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .gnavi_btns li:nth-child(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .gnavi_btns li:nth-child(3) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .gnavi_btns li:nth-child(4) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .gnavi_btns li:nth-child(5) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .gnavi_btns li:nth-child(6) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .gnavi_btns li:nth-child(7) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  .gnavi_btns li:nth-child(8) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .gnavi_btns li:nth-child(9) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  .gnavi_btns li:nth-child(10) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}

@media (max-width: 896px) {
  .gnavi_btns li:not(:last-child) {
    margin-bottom: 10vw;
  }
}

@media (min-width: 897px) {
  .gnavi_btns li:not(:last-child) {
    border-right: 1px dashed #fff;
  }
}

.gnavi_btns a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
}

@media (max-width: 896px) {
  .gnavi_btns a {
    padding: 1vw 5vw;
    font-size: 7vw;
    font-family: "Caveat", cursive;
  }
}

@media (min-width: 897px) {
  .gnavi_btns a {
    min-height: 30px;
    padding: 1px 30px;
    line-height: 1;
  }
  .gnavi_btns a::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: -5px;
    border-bottom: 1px solid #fff;
  }
  .gnavi_btns a::after {
    right: 100%;
    -webkit-transition: right 0.5s 0s;
    transition: right 0.5s 0s;
  }
  .gnavi_btns a.active::after {
    right: 20px;
  }
}

@media (min-width: 897px) and (any-hover: hover) {
  .gnavi_btns a:hover::after {
    right: 20px;
  }
}

#pagenation {
  position: fixed;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  #pagenation {
    right: 1.5vw;
    min-height: 30vh;
  }
}

@media (min-width: 481px) and (max-width: 896px) {
  #pagenation {
    right: 2vw;
    min-height: 50vh;
  }
}

@media (min-width: 897px) {
  #pagenation {
    right: 15px;
    min-height: 150px;
  }
}

@media (max-width: 600px) {
  #pagenation li:not(:last-child) {
    margin-bottom: 5vw;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #pagenation li:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media (min-width: 901px) {
  #pagenation li:not(:last-child) {
    margin-bottom: 20px;
  }
}

#pagenation a {
  position: relative;
  display: block;
  cursor: pointer;
}

@media (max-width: 425px) {
  #pagenation a {
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media (min-width: 426px) and (max-width: 600px) {
  #pagenation a {
    width: 3.5vw;
    height: 3.5vw;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #pagenation a {
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 901px) {
  #pagenation a {
    width: 13px;
    height: 13px;
  }
}

#pagenation a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-transition: all 0.3s 0s;
  transition: all 0.3s 0s;
}

#pagenation a.active::after {
  background: #fff;
  cursor: default;
}

@media (any-hover: hover) {
  #pagenation a:hover:not(.active)::after {
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
  }
}

#particles {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  -webkit-transition: background-color 2s 0.5s;
  transition: background-color 2s 0.5s;
}

#particles[data-current="top"] {
  background-color: #21496b;
}

#particles[data-current="about"] {
  background-color: #6b215b;
}

#particles[data-current="web_site"] {
  background-color: #216b31;
}

#particles[data-current="cms"] {
  background-color: #6b4321;
}

#particles[data-current="other"] {
  background-color: #21236b;
}

#particles::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

#particles canvas {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: linear-gradient(#000 0%, transparent 100%);
}

.alert {
  position: fixed;
  z-index: 5;
  text-align: center;
}

@media (max-width: 480px) {
  .alert {
    left: 5vw;
    right: 5vw;
    bottom: 3vw;
  }
}

@media (min-width: 481px) {
  .alert {
    left: 0;
    right: 0;
    bottom: 15px;
  }
}

.alert p {
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 1s 3s;
  transition: -webkit-transform 1s 3s;
  transition: transform 1s 3s;
  transition: transform 1s 3s, -webkit-transform 1s 3s;
}

.alert.active p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.alert p {
  background: rgba(64, 64, 64, 0.9);
  border-radius: 3px;
  -webkit-box-shadow: 10px 10px 20px -5px #000;
          box-shadow: 10px 10px 20px -5px #000;
  font-size: 1.35rem;
}

@media (max-width: 480px) {
  .alert p {
    display: block;
    padding: 2.5vw 3vw 2.75vw;
    line-height: 1.45;
  }
}

@media (min-width: 481px) {
  .alert p {
    display: inline-block;
    vertical-align: top;
    padding: 14px 20px;
    line-height: 1;
  }
}

@media (max-width: 480px) {
  .alert span {
    display: block;
  }
}

.link_arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
}

.link_arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin-top: -6px;
  border: 6px solid transparent;
  border-left: 8px solid #fff;
}

.arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer .arrow {
  bottom: 100%;
}

@media (max-width: 480px) {
  .header .arrow {
    bottom: 10vw;
  }
}

@media (min-width: 481px) {
  .header .arrow {
    bottom: 30px;
  }
}

.arrow a {
  display: block;
}

@media (max-width: 480px) {
  .arrow a {
    width: 12vw;
    padding: 1vw;
  }
}

@media (min-width: 481px) {
  .arrow a {
    width: 60px;
    padding: 5px;
  }
}

/* 修正 */
.more_btn {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  line-height: 1;
}

@media (max-width: 480px) {
  .more_btn {
    width: calc(100% - 20vw);
    min-height: 12vw;
    background: #1d3244;
    border-radius: 3px;
    font-size: 1.55rem;
  }
}

@media (min-width: 481px) {
  .more_btn {
    width: 200px;
    min-height: 50px;
  }
}

@media (min-width: 481px) and (any-hover: none) {
  .more_btn {
    background: #1a324a;
    -webkit-box-shadow: 10px 10px 20px -5px #000;
            box-shadow: 10px 10px 20px -5px #000;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  .more_btn {
    background: #1a324a;
  }
}

@media (max-width: 800px) {
  .more_btn {
    -webkit-box-shadow: 10px 10px 20px -5px #000;
            box-shadow: 10px 10px 20px -5px #000;
  }
}

@media (min-width: 801px) and (any-hover: hover) {
  .more_btn {
    border: 1px solid #9f9f9f;
  }
}

.more_btn::before, .more_btn::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 480px) {
  .more_btn::before, .more_btn::after {
    content: "";
  }
}

@media (min-width: 481px) {
  .more_btn::before, .more_btn::after {
    top: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s cubic-bezier(0.61, 1.07, 0.86, 0.99);
    transition: 0.3s cubic-bezier(0.61, 1.07, 0.86, 0.99);
  }
}

.more_btn::before {
  z-index: -1;
}

@media (max-width: 480px) {
  .more_btn::before {
    top: 50%;
    background: rgba(0, 0, 0, 0.4);
  }
}

@media (any-hover: hover) and (min-width: 481px) {
  .more_btn::before {
    content: "";
    background: #333;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
}

@media (any-hover: hover) and (max-width: 480px) {
  .more_btn::after {
    top: 0;
    background: rgba(255, 255, 255, 0.15);
  }
}

@media (any-hover: hover) and (min-width: 481px) {
  .more_btn::after {
    content: "\61\6e\64\20\6d\6f\72\65";
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    word-break: keep-all;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  section#about .more_btn::after {
    background: rgba(255, 0, 255, 0.5);
  }
  section#web_site .more_btn::after {
    background: rgba(0, 128, 0, 0.5);
  }
  section#cms .more_btn::after {
    background: rgba(255, 0, 0, 0.5);
  }
  section#other .more_btn::after {
    background: rgba(0, 90, 255, 0.5);
  }
}

@media (max-width: 480px) {
  .more_btn::after {
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s;
    transition: opacity 0.5s 0s;
  }
}

@media (any-hover: hover) and (max-width: 480px) {
  .more_btn:hover::after {
    opacity: 1;
  }
}

@media (any-hover: hover) and (min-width: 481px) {
  .more_btn:hover::before, .more_btn:hover::after {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .more_btn:hover::before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .more_btn:hover::after {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
}

@media (min-width: 481px) {
  .more_btn.disable {
    cursor: default;
    pointer-events: none;
  }
  .more_btn.disable::before, .more_btn.disable::after {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=ui.style.css.map */