@charset "utf-8";
@import "variables";
.loading_area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #121212;
  &_text {
    position: relative;
    overflow: hidden;
    @include phoneMax {
      top: -2vw;
      font-size: 10vw;
    }
    @include tabletMin {
      top: -20px;
      padding: 0 20px;
      font-size: 5rem;
    }
    p {
      text-shadow: 0px -11px 10px rgba(63, 62, 62, 0.9);
      font-family: $base_font_style;
      animation: moveText 3s 0s infinite;
    }
  }
}

.building_square {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include phoneMax {
    width: 16vw;
    height: 16vw;
  }
  @include tabletMin {
    width: 70px;
    height: 70px;
  }
  .square {
    position: relative;
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    animation: buildingSquare 3s 0s infinite;
    @include phoneMax {
      top: calc(-1.5px * 2 / 3);
      width: 4.5vw;
      height: 4.5vw;
    }
    @include tabletMin {
      top: calc(-10px * 2 / 3);
      width: 20px;
      height: 20px;
    }
    &:nth-child(1) {
      animation-delay: calc(150ms * 6);
    }
    &:nth-child(2) {
      animation-delay: calc(150ms * 7);
    }
    &:nth-child(3) {
      animation-delay: calc(150ms * 8);
    }
    &:nth-child(4) {
      animation-delay: calc(150ms * 3);
    }
    &:nth-child(5) {
      animation-delay: calc(150ms * 4);
    }
    &:nth-child(6) {
      animation-delay: calc(150ms * 5);
    }
    &:nth-child(7) {
      animation-delay: calc(150ms * 0);
    }
    &:nth-child(8) {
      animation-delay: calc(150ms * 1);
    }
    &:nth-child(9) {
      animation-delay: calc(150ms * 2);
    }
  }
}

.half_circles {
  position: absolute;
  left: 50%;
  top: 50%;
  @include phoneMax {
    width: 8vw;
    height: 8vw;
    margin: -4vw 0 0 -4vw;
  }
  @include tabletMin {
    width: 30px;
    height: 30px;
    margin: -15px 0 0 -15px;
  }
  .circle {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border: solid transparent;
    border-radius: 50%;
    @include phoneMax {
      border-width: 1vw;
    }
    @include tabletMin {
      border-width: 3px;
    }
    &.circle_1 {
      border-top-color: #fff;
      animation: rotateArc 1.5s 0s infinite;
    }
    &.circle_2 {
      border-bottom-color: #fff;
      animation: rotateArc 1.5s 0s infinite alternate;
    }
  }
}
