@charset "utf-8";
@import "variables";

/* 修正1 */
.overlay_detail {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow-y: scroll;
  @include tabletMax {
    background: rgba(0, 0, 0, 0.9);
  }
  &_outer {
    @include computerMin {
      position: relative;
      min-height: 100vh;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.9);
        animation: scaleBg 0.15s 0s forwards cubic-bezier(0.21, 0.03, 0.42, 0.13);
      }
    }
  }
  &_icon {
    text-align: right;
    @include phoneMax {
      margin-bottom: 8vw;
    }
    @include tabletMin {
      margin-bottom: 40px;
    }
    a {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      @include phoneMax {
        width: 15vw;
        padding: 1.5vw;
      }
      @include tabletMin {
        width: 66px;
        padding: 8px;
      }
    }
  }
  &_contents {
    @include phoneMax {
      padding: 7.5vw 5vw 20vw;
    }
    @include tabletWithin {
      padding: 25px 5vw 80px;
    }
    @include computerMin {
      padding: 50px 48px 120px;
      margin: 0 auto;
    }
    @include computerWithin {
      max-width: 1200px;
    }
    @include desktopMin {
      width: 1296px;
    }
  }
  &_btn {
    a {
      @include phoneMax {
        width: calc(100% - 20vw);
        min-height: 12vw;
        font-size: 1.55rem;
      }
      @include tabletMin {
        width: 200px;
        min-height: 50px;
      }
      @include tabletMax {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        margin: 0 auto;
        line-height: 1;
        background: #48504a;
        border-radius: 3px;
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
        }
        &::before {
          z-index: -1;
          top: 50%;
          background: rgba(0, 0, 0, 0.2);
        }
        &::after {
          top: 0;
          background: rgba(255, 255, 255, 0.15);
          @include hover_target {
            opacity: 0;
            transition: opacity 0.5s 0s;
          }
        }
        @include hover_action {
          &::after {
            opacity: 1;
          }
        }
      }
    }
    @include computerMin {
      display: none;
    }
  }
  table {
    width: 100%;
    @include phoneMax {
      margin-bottom: 15vw;
    }
    @include tabletWithin {
      margin-bottom: 60px;
    }
    @include computerMin {
      &.product th {
        width: 200px;
      }
      &.profile th {
        vertical-align: top;
        width: 300px;
        padding-top: 35px;
      }
      opacity: 0;
      animation: fade-m50px 0.5s 0.15s forwards;
    }
    tr {
      &:not(:last-child) {
        @include phoneMax {
          margin-bottom: 12vw;
        }
        @include tabletWithin {
          margin-bottom: 50px;
        }
      }
      @include tabletMax {
        display: block;
        @for $i from 1 through 12 {
          &:nth-child(#{$i + 1}) {
            th {
              animation-delay: (0.05s * $i * 2) - 0.05;
            }
            td {
              animation-delay: 0.05s * $i * 2;
            }
          }
        }
      }
      @include computerMin {
        border-bottom: 1px solid#9f9f9f;
        opacity: 0;
        animation: fade-m50px 0.5s 0s forwards;
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            animation-delay: 0.1s * $i + 0.65;
          }
        }
      }
    }
    th,
    td {
      font-weight: normal;
      @include phoneMax {
        padding: 3vw;
      }
      @include tabletWithin {
        padding: 15px;
      }
      @include tabletMax {
        display: block;
        opacity: 0;
        animation: fade-m50px 0.5s 0s forwards;
      }
      @include computerMin {
        padding: 25px 40px;
      }
    }
    th {
      @include phoneMax {
        margin-bottom: 3vw;
      }
      @include tabletWithin {
        margin-bottom: 10px;
      }
      @include tabletMax {
        border: 1px solid#9f9f9f;
      }
    }
  }
  dl {
    dt {
      @include computerMin {
        float: left;
      }
    }
    dd:not(:last-child) {
      @include phoneMax {
        margin-bottom: 3vw;
      }
      @include tabletWithin {
        margin-bottom: 10px;
      }
      @include computerMin {
        margin-bottom: 5px;
      }
    }
  }
  video,
  img {
    @include tabletMax {
      margin: 0 auto;
    }
    @include computerMin {
      margin: 70px auto;
      animation-delay: 0.3s;
    }
    opacity: 0;
    animation: fade-m50px 0.25s 0s forwards cubic-bezier(0.29, 1.33, 0.75, 1.45);
  }
  video {
    display: table;
    border: none;
    @include tabletMax {
      width: 100%;
      height: calc(90vw / 16 * 9);
    }
  }
  img {
    display: block;
    width: 100%;
    max-width: 800px;
  }
}
