@charset "utf-8";
@import "variables";
.about {
  $n: ".about";
  &_msg {
    @include phoneMax {
      margin-bottom: 10vw;
      line-height: 1.8;
    }
    @include tabletMin {
      margin-bottom: 40px;
      line-height: 2;
    }
    p {
      @include phoneMax {
        margin-bottom: 5vw;
      }
      @include tabletMin {
        margin-bottom: 20px;
      }
    }
    @include animate_pc {
      &,
      ~ #{$n}_list.site,
      ~ #{$n}_list.outside {
        opacity: 0;
        transform: translateY(-50px);
      }
    }
    @include effect_pc {
      &,
      ~ #{$n}_list.site,
      ~ #{$n}_list.outside {
        animation: fade-m50px 0.5s forwards;
      }
      & {
        animation-delay: 0.25s;
      }
      ~ #{$n}_list.site {
        animation-delay: 0.5s;
      }
      ~ #{$n}_list.outside {
        animation-delay: 0.75s;
      }
    }
  }
  &_list {
    dt {
      @include phoneMax {
        margin-bottom: 2vw;
      }
      @include tabletMin {
        margin-bottom: 5px;
      }
    }
    &.site {
      &:not(:last-child) {
        @include phoneMax {
          margin-bottom: 15vw;
        }
        @include tabletMin {
          margin-bottom: 60px;
        }
      }
      dt {
        text-indent: -10px;
        &::before {
          content: "\3010";
        }
        &::after {
          content: "\3011";
        }
      }
    }
    &.outside {
      dt {
        position: relative;
        padding-left: 20px;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 7px;
          width: 12px;
          height: 12px;
          background: #fff;
        }
      }
      dd:not(:last-child) {
        @include phoneMax {
          margin-bottom: 7vw;
        }
        @include tabletMin {
          margin-bottom: 30px;
        }
      }
    }
    a {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      @include hover_target {
        @include tabletMax {
          text-decoration: underline transparent;
          transition: text-decoration-color 0.5s 0s;
        }
        @include computerMin {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 100%;
            top: 100%;
            bottom: 0;
            border-bottom: 1px solid #fff;
            transition: right 0.5s 0s;
          }
        }
      }
      @include hover_action {
        @include tabletMax {
          text-decoration-color: #fff;
        }
        @include computerMin {
          &::after {
            right: 0;
          }
        }
      }
    }
  }
  &_msg,
  &_list {
    @include animate_sp {
      opacity: 0;
      transform: translateY(-50px);
    }
    @include effect_sp {
      animation: fade-m50px 0.5s 0s forwards;
    }
  }
}

.site_list {
  $n: ".site_list";
  @include widthMin(415px) {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    @include widthMax(415px) {
      &:not(:last-child) {
        margin-bottom: 10vw;
      }
      .effect-area {
        display: none;
      }
    }
    @include widthWithin(415px, 700px) {
      width: 47%;
      margin-right: 6%;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(n + 3) {
        margin-top: 6%;
      }
    }
    @include widthWithin(700px, 1000px) {
      width: 31%;
      margin-right: 3.5%;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 3.5%;
      }
    }
    @include widthMin(1000px) {
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @include widthWithin(1000px, $pc) {
      width: 22%;
      margin-right: 4%;
    }
    @include desktopMin {
      width: 276px;
      margin-right: 32px;
    }
    &:nth-child(n + 5) {
      @include widthWithin(1000px, $pc) {
        margin-top: 4%;
      }
      @include desktopMin {
        margin-top: 40px;
      }
    }
    @include animate_pc(415px) {
      position: relative;
      z-index: 1;
      #{$n}_inner {
        opacity: 0;
        transition: opacity 1s 0.5s;
      }
      .effect-area {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.3s 0s;
        &::before,
        &::after {
          content: "";
          position: absolute;
          border: solid #fff;
        }
        &::before {
          left: 0;
          right: 100%;
          top: 0;
          bottom: 100%;
          border-width: 1px 1px 0 0;
          transition: right 0.1s 0s, bottom 0.1s 0.1s;
        }
        &::after {
          left: 100%;
          right: 0;
          top: 100%;
          bottom: 0;
          border-width: 0 0 1px 1px;
          transition: left 0.1s 0.2s, top 0.1s 0.3s;
        }
      }
    }
    @include effect_pc(415px) {
      #{$n}_inner {
        opacity: 1;
      }
      .effect-area {
        opacity: 1;
        &::before {
          right: 0;
          bottom: 0;
        }
        &::after {
          left: 0;
          top: 0;
        }
      }
    }
    @include animate_sp(415px) {
      #{$n}_image {
        opacity: 0;
        transform: scale(0);
        transition: transform 0.3s 0.5s cubic-bezier(0.29, 1.33, 0.75, 1.45), opacity 0.3s 0.5s;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: #fff;
          transition: opacity 0.5s 0.5s, top 0s 1s;
        }
      }
      #{$n}_btns {
        opacity: 0;
        transform: translateY(-50px);
      }
    }
    @include effect_sp(415px) {
      #{$n}_image {
        opacity: 1;
        transform: scale(1);
        &::after {
          top: 100%;
          opacity: 0;
        }
      }
      #{$n}_btns {
        animation: fade-m50px 0.5s 0.75s forwards;
      }
    }
  }
  &_inner {
    display: flex;
    @include widthMin(415px) {
      flex-direction: column;
      background: #14312e;
      box-shadow: 0px 0px 6px 0px #000;
    }
    @include widthWithin(415px, $pc) {
      padding: 5px 5px 10px;
    }
    @include desktopMin {
      padding: 8px 8px 13px;
    }
  }
  &_image {
    @include widthMax(415px) {
      width: 30vw;
      height: 30vw;
      margin-right: 8vw;
    }
    @include widthMin(415px) {
      margin-bottom: 10px;
    }
    a {
      display: block;
      @include hover_target {
        position: relative;
        &::after {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
          @include widthMax(415px) {
            content: "";
            background: rgba(0, 0, 0, 0.5);
            transition: opacity 0.5s 0s;
          }
          @include widthMin(415px) {
            content: attr(href);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
            background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZmZmZiIgc3Ryb2tlLW9wYWNpdHk9IjAuNyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTE4IDE0djVhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWOGMwLTEuMS45LTIgMi0yaDVNMTUgM2g2djZNMTAgMTRMMjAuMiAzLjgiLz48L2c+PC9zdmc+")
              no-repeat right 12px bottom 12px rgba(0, 0, 0, 0.8);
            background-size: 27px 27px;
            text-align: center;
            transform: scale(0);
            transition: all 0.3s 0s;
          }
        }
      }
      @include hover_action {
        &::after {
          opacity: 1;
          @include widthMin(415px) {
            transform: scale(1);
          }
        }
      }
    }
    img {
      display: block;
      width: 100%;
      @include widthMax(415px) {
        box-shadow: 10px 10px 20px -5px #000;
      }
    }
  }
  &_btns {
    display: flex;
    @include widthMax(415px) {
      flex-direction: column;
      flex: 1;
    }
    @include widthMin(415px) {
      justify-content: space-between;
    }
    li {
      @include widthMax(415px) {
        flex: 1;
      }
      @include widthMin(415px) {
        width: 48%;
      }
    }
    a {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px dashed #fff;
      text-decoration: none;
      line-height: 1;
      @include widthMax(415px) {
        min-height: 100%;
        padding: 0 10vw 0 4vw;
      }
      @include widthMin(415px) {
        min-height: 40px;
        font-size: 1.3rem;
      }
      @include widthWithin(415px, $tab) {
        padding: 0 12px 0 6px;
        .link_arrow {
          margin-right: -9px;
        }
      }
      @include computerMin {
        padding: 0 35px 0 10px;
      }
      &:before {
        content: attr(class);
      }
      @include hover_target {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          bottom: 0;
          z-index: -1;
          transition: top 0.3s 0s;
          @include widthMax(415px) {
            background: rgba(6, 170, 55, 0.75);
          }
          @include widthMin(415px) {
            background: rgba(0, 0, 0, 0.75);
          }
        }
      }
      @include hover_action {
        &::after {
          top: 0;
        }
      }
    }
  }
}

.cms_list {
  @include widthMin(1000px) {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    position: relative;
    @include widthMax(375px) {
      padding: 0 3vw 5vw;
    }
    @include widthWithin(375px, 600px) {
      padding: 0 3vw 30px;
    }
    @include widthMin(600px) {
      display: flex;
      justify-content: flex-end;
      min-height: 60px;
      padding: 15px;
    }
    @include widthMin(1000px) {
      width: 47%;
      margin-right: 6%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    &:not(:last-child) {
      @include widthMax(375px) {
        margin-bottom: 12vw;
      }
      @include widthWithin(375px, 600px) {
        margin-bottom: 40px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      bottom: 0;
      border-bottom: 1px dashed #fff;
    }
    @include animate {
      opacity: 0;
      transition: all 0.5s 0s;
      &::after {
        right: 100%;
        transition: right 0.5s 0.3s;
      }
    }
    @include animate_pc(600px) {
      transform: translate(-50px, 0);
    }
    @include animate_sp(600px) {
      transform: translate(0, -50px);
    }
    @include effect {
      opacity: 1;
      transform: translate(0, 0);
      &::after {
        right: 0;
      }
    }
  }
  &_title {
    @include widthMax(375px) {
      margin-bottom: 7vw;
    }
    @include widthMax(600px) {
      position: relative;
      padding-left: 20px;
      &::after {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
      }
    }
    @include widthWithin(375px, 600px) {
      margin-bottom: 25px;
    }
    @include widthMin(600px) {
      display: flex;
      align-items: center;
      flex: 1;
      min-height: 25px;
      padding-right: 20px;
      margin-bottom: 0;
    }
  }
  &_btns {
    display: flex;
    @include widthMax(600px) {
      justify-content: space-between;
    }
    @include widthMin(600px) {
      justify-content: flex-end;
    }
    li {
      @include widthMax(600px) {
        flex: 1;
      }
      &:not(:last-child) {
        @include widthMax(600px) {
          margin-right: 8vw;
        }
        @include widthMin(600px) {
          margin-right: 15px;
        }
      }
    }
    a {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      line-height: 1;
      @include widthMax(375px) {
        min-height: 13vw;
      }
      @include widthMax(600px) {
        padding: 0 10vw 0 4vw;
        border: 1px solid #9f9f9f;
      }
      @include widthWithin(375px, 600px) {
        min-height: 50px;
      }
      @include widthMin(600px) {
        padding: 0 35px 0 10px;
        background: #311414;
        box-shadow: 0px 0px 6px 0px #000;
        font-size: 1.3rem;
      }
      @include widthWithin(600px, 1000px) {
        min-height: 36px;
      }
      @include widthMin(1000px) {
        min-height: 25px;
      }
      &:before {
        content: attr(class);
      }
      @include hover_target {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          bottom: 0;
          z-index: -1;
          background: rgba(255, 0, 0, 0.5);
          transition: top 0.3s 0s;
        }
      }
      @include hover_action {
        &::after {
          top: 0;
        }
      }
    }
  }
}

/* 修正1 */
.other_list {
  $n: ".other_list";
  @include widthMin(800px) {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    @include widthMin(800px) {
      position: relative;
      width: 47%;
      margin-right: 6%;
      &:nth-child(2n),
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(n + 3) {
        margin-top: 10%;
      }
      @include hover_action {
        #{$n}_btns {
          opacity: 1;
          li {
            animation: fade-m50px 0.5s forwards;
            &:nth-child(1) {
              animation-delay: 0s;
            }
            &:nth-child(2) {
              animation-delay: 0.25s;
            }
          }
        }
      }
    }
    &:not(:last-child) {
      @include widthMax(375px) {
        margin-bottom: 15vw;
      }
      @include widthWithin(375px, 800px) {
        margin-bottom: 80px;
      }
    }
    @include animate {
      #{$n}_image {
        a {
          position: relative;
          overflow: hidden;
          width: 0;
          height: 0;
          transition: all 0.5s 0s cubic-bezier(0.29, 0.4, 0.3, 0.99);
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.9;
          filter: grayscale(100%);
          transition: all 1s 1s;
        }
      }
    }
    @include effect {
      #{$n}_image {
        a {
          width: 100%;
          height: 100%;
        }
        img {
          opacity: 1;
          filter: grayscale(0);
        }
      }
    }
    @include animate_pc(800px) {
      @include hover_target {
        #{$n}_btns {
          transform: scale(0);
          transition: transform 0s 1.5s;
        }
      }
      @include device {
        #{$n}_btns li {
          opacity: 0;
          transform: translateY(-5vw);
        }
      }
    }
    @include effect_pc(800px) {
      @include hover_target {
        #{$n}_btns {
          transform: scale(1);
        }
      }
      @include device {
        #{$n}_btns li {
          animation: fade-m5vw 1s 1s forwards cubic-bezier(0.29, 0.4, 0.3, 0.99);
        }
      }
    }
    @include animate_sp(800px) {
      #{$n}_btns li {
        opacity: 0;
        transform: translateY(-5vw);
      }
    }
    @include effect_sp(800px) {
      #{$n}_btns li {
        animation: fade-m5vw 0.5s 1s forwards;
      }
    }
  }
  &_image {
    position: relative;
    @include phoneMax {
      margin-bottom: 5vw;
    }
    @include widthWithin($sp, 800px) {
      margin-bottom: 35px;
    }
    @include widthMax(800px) {
      height: calc(85vw / 16 * 9);
    }
    @include widthMin(800px) {
      @include device {
        margin-bottom: 20px;
      }
    }
    @include widthWithin(800px, 900px) {
      height: 225px;
    }
    @include widthWithin(900px, 1000px) {
      height: 275px;
    }
    @include widthWithin(1000px, $pc) {
      height: 300px;
    }
    @include desktopMin {
      height: 350px;
    }
    a {
      display: block;
      height: 100%;
      @include widthMax(800px) {
        position: relative;
        z-index: 1;
        cursor: pointer;
      }
      @include widthMin(800px) {
        pointer-events: none;
      }
      @include hover_action {
        @include widthMax(800px) {
          &::before {
            opacity: 1;
            padding-bottom: 0vw;
          }
        }
      }
      &::before,
      &::after {
        @include widthMax(800px) {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
      &::before {
        @include phoneMax {
          font-size: 7.5vw;
        }
        @include widthWithin($sp, 800px) {
          font-size: 3rem;
        }
        @include widthMax(800px) {
          content: "\70\72\65\76\69\65\77";
          z-index: 2;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0;
          padding-bottom: 20vw;
          background: rgba(0, 0, 0, 0.5);
          font-style: oblique;
          transition: padding-bottom 0.5s 0s, opacity 0.5s 0s;
        }
      }
      &::after {
        @include phoneMax {
          background: {
            position: right 3vw bottom 3vw;
            size: 7vw 7vw;
          }
        }
        @include widthWithin($sp, 800px) {
          background: {
            position: right 15px bottom 15px;
            size: 30px 30px;
          }
        }
        @include widthMax(800px) {
          content: "";
          background-repeat: no-repeat;
        }
      }
      &.video::after {
        @include widthMax(800px) {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cmVjdCB4PSIyIiB5PSIyIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHJ4PSIyLjE4IiByeT0iMi4xOCI+PC9yZWN0PjxsaW5lIHgxPSI3IiB5MT0iMiIgeDI9IjciIHkyPSIyMiI+PC9saW5lPjxsaW5lIHgxPSIxNyIgeTE9IjIiIHgyPSIxNyIgeTI9IjIyIj48L2xpbmU+PGxpbmUgeDE9IjIiIHkxPSIxMiIgeDI9IjIyIiB5Mj0iMTIiPjwvbGluZT48bGluZSB4MT0iMiIgeTE9IjciIHgyPSI3IiB5Mj0iNyI+PC9saW5lPjxsaW5lIHgxPSIyIiB5MT0iMTciIHgyPSI3IiB5Mj0iMTciPjwvbGluZT48bGluZSB4MT0iMTciIHkxPSIxNyIgeDI9IjIyIiB5Mj0iMTciPjwvbGluZT48bGluZSB4MT0iMTciIHkxPSI3IiB4Mj0iMjIiIHkyPSI3Ij48L2xpbmU+PC9zdmc+");
        }
      }
      &.image::after {
        @include widthMax(800px) {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cmVjdCB4PSIzIiB5PSIzIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHJ4PSIyIi8+PGNpcmNsZSBjeD0iOC41IiBjeT0iOC41IiByPSIxLjUiLz48cGF0aCBkPSJNMjAuNCAxNC41TDE2IDEwIDQgMjAiLz48L3N2Zz4=");
        }
      }
    }
    img {
      display: block;
      width: 100%;
      box-shadow: 10px 10px 20px -5px #000;
      object-fit: cover;
      font-family: "object-fit: cover;";
      @include widthMax(800px) {
        height: calc(85vw / 16 * 9);
      }
      @include widthWithin(800px, 900px) {
        height: 225px;
      }
      @include widthWithin(900px, 1000px) {
        height: 275px;
      }
      @include widthWithin(1000px, $pc) {
        height: 300px;
      }
      @include desktopMin {
        height: 350px;
      }
    }
  }
  &_btns {
    @include widthMin(800px) {
      @include device {
        display: flex;
        justify-content: space-between;
      }
      @include hover_target {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: opacity 0.3s 0s, transform 0s 1.5s !important;
      }
    }
    li {
      @include widthMax(800px) {
        &:nth-child(2) {
          display: none;
        }
      }
      @include widthMin(800px) {
        @include device {
          width: 47%;
        }
        @include hover_target {
          opacity: 0;
          width: 200px;
          transform: translateY(-50px);
        }
      }
      &:not(:last-child) {
        @include phoneMax {
          margin-bottom: 2.5vw;
        }
        @include widthWithin($sp, 800px) {
          margin-bottom: 20px;
        }
        @include hover_target {
          @include widthWithin(800px, 1000px) {
            margin-bottom: 15px;
          }
          @include widthMin(1000px) {
            margin-bottom: 25px;
          }
        }
      }
    }
    a {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100%;
      border: 1px solid #9f9f9f;
      text-decoration: none;
      @include widthMax(375px) {
        min-height: 14vw;
      }
      @include widthMin(375px) {
        min-height: 50px;
      }
      @include widthMin(800px) {
        @include device {
          padding-right: 3px;
        }
      }
      &::before {
        content: attr(class);
      }
      @include hover_target {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: -1;
          opacity: 0;
          background: rgba(0, 90, 255, 0.5);
          transform: scale(0);
          transition: opacity 0.5s 0.2s, transform 0.5s 0s;
        }
      }
      @include hover_action {
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}
