@charset "utf-8";
@import "variables";
body {
  &[data-state="no-bar"],
  &[data-state="detail"],
  &[data-state="gnavi"] {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &[data-state="loading"],
  &[data-state="detail"],
  &[data-state="gnavi"] {
    overflow-y: hidden;
    height: 100vh;
  }
  &[data-state="loading"] {
    .wrapper {
      display: none;
    }
  }
}

.wrapper {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  height: 100vh;
  @include phoneMax {
    padding: 10vw 7.5vw;
  }
  @include tabletMax {
    overflow: hidden;
  }
  @include tabletWithin {
    padding: 50px 7.5vw;
  }
  @include computerMin {
    padding: 50px 48px 85px;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-family: $font_notoserif;
  @include phoneMax {
    min-height: 15vw;
    padding: 5vw;
  }
  @include tabletMin {
    min-height: 70px;
    line-height: 1;
  }
  span {
    @include phoneMax {
      display: block;
    }
    @include tabletMin {
      margin-left: 5px;
    }
  }
}

/* 修正1 */
.contents_section {
  $n: ".contents_section";
  @include phoneMax {
    padding: 25vw 7.5vw;
  }
  @include tabletWithin {
    padding: 120px 7.5vw;
  }
  @include computerMin {
    padding: 120px 48px;
    margin: 0 auto;
  }
  @include computerWithin {
    max-width: 1200px;
  }
  @include desktopMin {
    width: 1296px;
  }
  &:last-child {
    @include phoneMax {
      margin-bottom: 15vw;
    }
    @include tabletMin {
      margin-bottom: 60px;
    }
  }
  &_heading {
    display: flex;
    align-items: center;
    @include phoneMax {
      justify-content: center;
    }
    @include widthMax(415px) {
      margin-bottom: 5vw;
    }
    @include widthWithin(415px, $tab) {
      margin-bottom: 35px;
    }
    @include computerMin {
      margin-bottom: 50px;
    }
    @include animate {
      #{$n}_title {
        &::before,
        &::after {
          content: "";
          position: absolute;
          border: 0px solid #dedede;
        }
        span {
          opacity: 0;
          transform: translateY(150%);
        }
      }
      @include tabletMin {
        #{$n}:nth-child(odd) & {
          padding-left: 50%;
          justify-content: flex-start;
          #{$n}_title {
            transform: translateX(-50%);
          }
        }
        #{$n}:nth-child(even) & {
          padding-right: 50%;
          justify-content: flex-end;
          #{$n}_title {
            transform: translateX(50%);
          }
        }
      }
    }
    @include effect {
      @include tabletMin {
        #{$n}:nth-child(odd) & {
          padding-left: 0;
          transition: padding-left 0s 4s;
        }
        #{$n}:nth-child(even) & {
          padding-right: 0;
          transition: padding-right 0s 4s;
        }
      }
      #{$n}_title {
        @include tabletMin {
          min-width: 0;
          transform: translateX(0) !important;
          transition: transform 0s 4s, min-width 0s 2.5s;
        }
        &::before {
          @include phoneMax {
            animation: traceLine-right-sp 2.5s 0s forwards;
          }
          @include tabletMin {
            animation: traceLine-right-pc 2.5s 0s forwards;
          }
        }
        &::after {
          @include phoneMax {
            animation: traceLine-left-sp 2.5s 0s forwards;
          }
          @include tabletMin {
            animation: traceLine-left-pc 2.5s 0s forwards;
          }
        }
        span {
          @include phoneMax {
            animation: fade-p150per 0.35s 0.25s forwards;
          }
          @include tabletMin {
            animation: fade-p150per 0.35s 0.25s forwards, fade-p150per 0.35s 3.5s reverse forwards,
              fade-p150per 0.35s 4s forwards !important;
          }
        }
      }
    }
  }
  &_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-family: $base_font_style;
    line-height: 1;
    @include phoneMax {
      width: 70vw;
      height: 20vw;
      font-size: 11.5vw;
    }
    @include tabletMin {
      min-width: 300px;
      padding: 0 10px;
    }
    @include tabletWithin {
      height: 80px;
      font-size: 4.5rem;
    }
    @include computerMin {
      height: 100px;
      font-size: 5rem;
    }
    &:not(:last-child) {
      @include phoneMax {
        margin-bottom: 5vw;
      }
      @include tabletMin {
        margin-bottom: 40px;
      }
    }
  }
  &_text {
    display: flex;
    display: none;
  }
  &_loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include phoneMax {
      margin-top: 12vw;
    }
    @include tabletMin {
      min-height: 100px;
      margin-top: 40px;
    }
    @include computerMin {
      margin-bottom: 40px;
    }
  }
}

/* 修正1 */
.gnavi {
  $n: ".gnavi";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  transition: background-color 0.3s 0s;
  @include phoneMax {
    padding: 7.5vw 5vw 15vw;
  }
  @include tabletWithin {
    padding: 25px 5vw 100px;
  }
  @include tabletMax {
    bottom: 0;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    &:not(.opened) {
      left: unset;
      overflow-y: auto;
      min-height: auto;
      padding: 0;
      background-color: rgba(0, 0, 0, 0);
      @include phoneMax {
        top: 7.5vw;
        right: 5vw;
      }
      @include tabletWithin {
        top: 25px;
        right: 5vw;
      }
      #{$n}_icon {
        margin-bottom: 0;
      }
      #{$n}_btns {
        display: none;
      }
    }
  }
  @include computerMin {
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 15px 10px 25px;
    background-color: rgba(0, 0, 0, 0.8);
    @include noneClass {
      transition: transform 0.5s 1s;
    }
    @include addClass("sink") {
      transform: translateY(-100%);
    }
  }
  &_title {
    @include tabletMax {
      display: none;
    }
    @include computerMin {
      a {
        display: block;
        padding: 5px;
        text-decoration: none;
        line-height: 1;
        font-size: 3.5rem;
        font-family: $base_font_style;
      }
    }
  }
  &_icon {
    @include phoneMax {
      margin-bottom: 12vw;
    }
    @include tabletWithin {
      margin-bottom: 40px;
    }
    @include tabletMax {
      text-align: right;
    }
    @include computerMin {
      display: none;
    }
    a {
      @include phoneMax {
        width: 15vw;
        height: 15vw;
        padding: 1.5vw;
      }
      @include tabletWithin {
        width: 66px;
        height: 66px;
        padding: 8px;
      }
      @include tabletMax {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  &_btns {
    display: flex;
    @include tabletMax {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      .header & {
        display: none;
      }
    }
    li {
      @include tabletMax {
        opacity: 0;
        transform: translateY(-50px);
        animation: fade-m50px 0.3s forwards;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: (0.1s * $i);
          }
        }
      }
      &:not(:last-child) {
        @include tabletMax {
          margin-bottom: 10vw;
        }
        @include computerMin {
          border-right: 1px dashed #fff;
        }
      }
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-weight: normal;
      @include tabletMax {
        padding: 1vw 5vw;
        font-size: 7vw;
        font-family: $base_font_style;
      }
      @include computerMin {
        min-height: 30px;
        padding: 1px 30px;
        line-height: 1;
        &::after {
          content: "";
          position: absolute;
          left: 20px;
          bottom: -5px;
          border-bottom: 1px solid #fff;
        }
        @include noneClass {
          &::after {
            right: 100%;
            transition: right 0.5s 0s;
          }
        }
        @include addClass("active") {
          &::after {
            right: 20px;
          }
        }
        @include hover_action {
          &::after {
            right: 20px;
          }
        }
      }
    }
  }
}

#pagenation {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include phoneMax {
    right: 1.5vw;
    min-height: 30vh;
  }
  @include tabletWithin {
    right: 2vw;
    min-height: 50vh;
  }
  @include computerMin {
    right: 15px;
    min-height: 150px;
  }
  li {
    @include widthMax(600px) {
      &:not(:last-child) {
        margin-bottom: 5vw;
      }
    }
    @include widthWithin(600px, 900px) {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    @include widthMin(900px) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  a {
    position: relative;
    display: block;
    cursor: pointer;
    @include widthMax(425px) {
      width: 4.5vw;
      height: 4.5vw;
    }
    @include widthWithin(425px, 600px) {
      width: 3.5vw;
      height: 3.5vw;
    }
    @include widthWithin(600px, 900px) {
      width: 17px;
      height: 17px;
    }
    @include widthMin(900px) {
      width: 13px;
      height: 13px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 1);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      transition: all 0.3s 0s;
    }
    @include addClass("active") {
      &::after {
        background: #fff;
        cursor: default;
      }
    }
    @include hover_action {
      &:not(.active)::after {
        left: -5px;
        right: -5px;
        top: -5px;
        bottom: -5px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 1);
      }
    }
  }
}

#particles {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  transition: background-color 2s 0.5s;
  &[data-current="top"] {
    background-color: #21496b;
  }
  &[data-current="about"] {
    background-color: #6b215b;
  }
  &[data-current="web_site"] {
    background-color: #216b31;
  }
  &[data-current="cms"] {
    background-color: #6b4321;
  }
  &[data-current="other"] {
    background-color: #21236b;
  }
  &::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }
  canvas {
    background: linear-gradient(#000 0%, transparent 100%);
  }
}

.alert {
  position: fixed;
  z-index: 5;
  text-align: center;
  @include phoneMax {
    left: 5vw;
    right: 5vw;
    bottom: 3vw;
  }
  @include tabletMin {
    left: 0;
    right: 0;
    bottom: 15px;
  }
  @include noneClass {
    p {
      transform: translateY(150%);
      transition: transform 1s 3s;
    }
  }
  @include addClass("active") {
    p {
      transform: translateY(0);
    }
  }
  p {
    background: rgba(64, 64, 64, 0.9);
    border-radius: 3px;
    box-shadow: 10px 10px 20px -5px #000;
    font-size: 1.35rem;
    @include phoneMax {
      display: block;
      padding: 2.5vw 3vw 2.75vw;
      line-height: 1.45;
    }
    @include tabletMin {
      display: inline-block;
      vertical-align: top;
      padding: 14px 20px;
      line-height: 1;
    }
  }
  span {
    @include phoneMax {
      display: block;
    }
  }
}

.link_arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left: 8px solid #fff;
  }
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  .footer & {
    bottom: 100%;
  }
  .header & {
    @include phoneMax {
      bottom: 10vw;
    }
    @include tabletMin {
      bottom: 30px;
    }
  }
  a {
    display: block;
    @include phoneMax {
      width: 12vw;
      padding: 1vw;
    }
    @include tabletMin {
      width: 60px;
      padding: 5px;
    }
  }
}

/* 修正 */
.more_btn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  line-height: 1;
  @include phoneMax {
    width: calc(100% - 20vw);
    min-height: 12vw;
    background: #1d3244;
    border-radius: 3px;
    font-size: 1.55rem;
  }
  @include tabletMin {
    width: 200px;
    min-height: 50px;
    @include device {
      background: #1a324a;
      box-shadow: 10px 10px 20px -5px #000;
    }
  }
  @include widthWithin($sp, 800px) {
    background: #1a324a;
  }
  @include widthMax(800px) {
    box-shadow: 10px 10px 20px -5px #000;
  }
  @include widthMin(800px) {
    @include no_device {
      border: 1px solid #9f9f9f;
    }
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @include phoneMax {
      content: "";
    }
    @include tabletMin {
      top: 0;
      transform: translateX(-100%);
      transition: 0.3s cubic-bezier(0.61, 1.07, 0.86, 0.99);
    }
  }
  &::before {
    z-index: -1;
    @include phoneMax {
      top: 50%;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  @include hover_target {
    &::before {
      @include tabletMin {
        content: "";
        background: #333;
        transition-delay: 0.15s;
      }
    }
    &::after {
      @include phoneMax {
        top: 0;
        background: rgba(255, 255, 255, 0.15);
      }
      @include tabletMin {
        content: "\61\6e\64\20\6d\6f\72\65";
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: keep-all;
        transition-delay: 0s;
        section#about & {
          background: rgba(255, 0, 255, 0.5);
        }
        section#web_site & {
          background: rgba(0, 128, 0, 0.5);
        }
        section#cms & {
          background: rgba(255, 0, 0, 0.5);
        }
        section#other & {
          background: rgba(0, 90, 255, 0.5);
        }
      }
    }
  }
  @include noneClass {
    @include phoneMax {
      &::after {
        opacity: 0;
        transition: opacity 0.5s 0s;
      }
    }
  }
  @include hover_action {
    @include phoneMax {
      &::after {
        opacity: 1;
      }
    }
    @include tabletMin {
      &::before,
      &::after {
        transform: translateX(0);
      }
      &::before {
        transition-delay: 0s;
      }
      &::after {
        transition-delay: 0.5s;
      }
    }
  }
  @include addClass("disable") {
    @include tabletMin {
      cursor: default;
      pointer-events: none;
      &::before,
      &::after {
        transform: translateX(0);
      }
    }
  }
}
